.DS_Store
*.suo
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
.idea
.anvil
*node_modules
*npm-debug*
report/
bower/
js-dist/
public/css/app.css
build-tmp/
log/
coverage/*
intTestDbCfg.json
.nyc_output/
